# MacOS specific files
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
*.egg

# Virtual Environments
venv/
env/
.venv
/.venv-test-*/
/.tox/

# Testing and Coverage
.pytest_cache/
.coverage
*.coverage
htmlcov/
*.prof

# Editors and IDEs
/.idea/
*.kate-swp

# Other artifacts
*.pickle
/out/
*.log
/dist/
*.pye
/.cache/
/data/
