name: CI testing [unit testing]

on: [push, pull_request]

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
        steps:
        -   uses: actions/checkout@v4
        -   uses: ./.github/actions/setup
            with:
                python-version: ${{ matrix.python-version }}
        -   name: Run tests with coverage
            run: |
                source .venv/bin/activate
                pytest --cov=microbiolink tests/
        -   name: Upload coverage report
            uses: actions/upload-artifact@v4
            with:
                name: coverage-report-${{ matrix.python-version }}
                path: .coverage*
